.cancle
{ color: blue;
  text-decoration: underline;
  cursor: pointer;
}
.plus
{ color: blue;
  cursor: pointer;
}
.box2 {
  display: inline-block;
  width: 200px;
  height: 100px;
  margin: 1em;
}
@font-face {
  font-family: 'OpenSans-Regular';
  src: url('OpenSans-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Light';
  src: url('OpenSans-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'OpenSans-Semibold';
  src: url('OpenSans-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font_regular {
font-family: 'OpenSans-Regular';
}
.font_Light {
font-family: 'OpenSans-Light';
}
.font_Semibold {
font-family: 'OpenSans-Semibold';
}
/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
